@font-face {
  font-family: 'Play';
  src: url('@/assets/fonts/Play/Play-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Play';
  src: url('@/assets/fonts/Play/Play-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Global */
/* ------------------------------------ */
@import 'global/_container';
@import 'global/_mixins';
@import 'global/_normalize';
@import 'global/_reboot';
@import 'global/_visually-hidden';
@import 'global/_variables';

/* Blocks */
/* ------------------------------------ */
@import 'block/_header';
@import 'block/_footer';
