*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-image:
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
  background-blend-mode: screen; /* или overlay, lighten, soft-light */
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1; /* ← занимает все доступное пространство */
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
}
